// Load Master Styles
// -------------------------
@import "../../../Styles/Bootstrap/variables.less";
@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_store.less";
@import "../../../Styles/_rock-variables.less";

@import "_variables.less";

@import "bs4-utilities/variables.less";
@import "bs4-utilities/float.less";
@import "bs4-utilities/text.less";
@import "bs4-utilities/spacing.less";
@import "bs4-utilities/sizing.less";
@import "bs4-utilities/positioning.less";

/*-- float utilities --*/
.float-common-utilities;
.float-responsive-utilities;

/*-- text utilities --*/
.text-common-utilities;
.text-responsive-utilities;

/*-- spacing utilities --*/
.spacing-common-utilities;
.spacing-responsive-utilities;

/*-- sizing utilities --*/
.sizing-common-utilities;
.sizing-responsive-utilities;

/*-- positioning utilities --*/
.positioning-common-utilities;
.positioning-responsive-utilities;

/*
    Rock Theme Styles

    1. HTML Overrides
    2. Bootstrap Overrides
    3. Theme Styling
    4. Responsive Overrides

*/

// 1. HTML Overrides
// -------------------------

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: block;
}

// 2. Bootstrap Overrides
// -------------------------
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.collapse {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: @line-height-computed;

  small {
    letter-spacing: 0;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  letter-spacing: -2px;
  small,
  .small {
    font-size: 65%;
  }
}

h4,
.h4,
h5,
.h5 {
  letter-spacing: -1px;
  small,
  .small {
    font-size: 75%;
  }
}

h6,
.h6 {
  letter-spacing: -.5px;
  small,
  .small {
    font-size: 75%;
  }
}

hr {
  border: 3px solid rgba(0,0,0,.05);
}

.font-weight-light { font-weight: 300; }
.letter-spacing-condensed { letter-spacing: -0.5px; }
.letter-spacing-normal { letter-spacing: normal; }

p {
  margin-top: 0;
  margin-bottom: @line-height-computed;
}

a:not(.btn) {
  text-decoration: underline;

  &:hover {
    opacity: 0.7;
  }
}

a.panel-heading {
  &:hover {
    opacity: 1;
  }
}

.text-italic { font-style: italic; }
.text-strong { font-weight: 700; }

.lead {
  margin-bottom: @line-height-computed;
  font-size: floor((@font-size-base * 1.2));
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: -.5px;

  @media (min-width: @screen-sm-min) {
    font-size: (@font-size-base * 1.3);
  }
}

ul,
ol {
  padding-left: 20px;
}

.navbar {
  position: static; // default is relative which causes the dropdowns to go under the other navbars dispite having a higher z-index - JME 9/9/2013
  // using fontawesome nav toggle button instead of the BS default
  .navbar-toggle {
    padding: 6px 10px;

    i.fa-bars {
      color: @navbar-inverse-toggle-icon-bar-bg;
    }
  }
}

a:hover i.fs {
  text-decoration: none;
}


/*-- labels --*/
.label {
  padding: 0.25em 0.6em 0.2em;
  background-color: @gray-light;
}
.label-secondary { background-color: @brand-secondary; }
.label-gray-lighter { background-color: @gray-lighter; }
.label-gray-light { background-color: @gray-light; }
.label-gray { background-color: @gray; }
.label-gray-dark { background-color: @gray-dark; }
.label-gray-darker { background-color: @gray-darker; }

/*-- text and background color utility classes --*/
.text-primary {
  .text-emphasis-variant(@brand-primary) !important;
}
.text-secondary {
  .text-emphasis-variant(@brand-secondary) !important;
}
.text-gray-darker {
  .text-emphasis-variant(@gray-darker) !important;
}
.text-gray-dark {
  .text-emphasis-variant(@gray-dark) !important;
}
.text-gray {
  .text-emphasis-variant(@gray) !important;
}
.text-gray-light {
  .text-emphasis-variant(@gray-light) !important;
}
.text-gray-lighter {
  .text-emphasis-variant(@gray-lighter) !important;
}
.text-white {
  .text-emphasis-variant(#fff) !important;
}
.bg-primary {
  .bg-variant(darken(@brand-primary, 9%));
  color: #fff;
  a:not(.btn) {
    color: #fff;
  }
  .panel {
    color: @gray-darker;
  }
}
.bg-secondary {
  .bg-variant(@brand-secondary);
  color: #fff;
  a:not(.btn) {
    color: @brand-primary;
  }
  .panel {
    color: @gray-darker;
  }
}
.bg-gray-darker {
  .bg-variant(@gray-darker);
  color: #fff;
  a:not(.btn) {
    color: @brand-primary;
  }
  .panel {
    color: @gray-darker;
  }
}
.bg-gray-dark {
  .bg-variant(@gray-dark);
  color: #fff;
  a:not(.btn) {
    color: #fff;
  }
  .panel {
    color: @gray-darker;
  }
}
.bg-gray {
  .bg-variant(@gray);
  color: #fff;
  a:not(.btn) {
    color: #fff;
  }
  .panel {
    color: @gray-darker;
  }
}
.bg-gray-light {
  .bg-variant(@gray-light);
  color: #fff;
  a:not(.btn) {
    color: #fff;
  }
  .panel {
    color: @gray-darker;
  }
}
.bg-gray-lighter {
  .bg-variant(@gray-lighter);
}
.bg-white {
  .bg-variant(#fff);
}
.bg-black {
  .bg-variant(#000);
}

/*-- ratios --*/
// Fixed Aspect Ratios
.ratio-thin,
.ratio-landscape,
.ratio-square,
.ratio-portrait {
  position: relative;
  display: block;

  .ratio-item {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
  }

  &:before {
    content: "";
    display: block;
  }
}

.ratio-thin:before {
  padding-top: 40%;
}
.ratio-landscape:before {
  padding-top: 50%;
}
.ratio-square:before {
  padding-top: 100%;
}
.ratio-portrait:before {
  padding-top: 150%;
}

/*-- navigation --*/
.nav a {
  text-decoration: none;
}

/*-- buttons --*/
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.btn {
  font-family: proxima-nova, sans-serif;
  letter-spacing: @btn-letter-spacing;
  border-width: 2px;
}

.btn-sm {
  border-radius: 5px;
}

.btn-default {
  .button-variant(
    @gray-darker; transparent; @gray-darker
  );

  &:hover {
    background-color: @gray-darker;
    border-color: @gray-darker;
    color: #fff;
  }
}

.bg-primary,
.bg-secondary,
.bg-gray,
.bg-gray-dark,
.bg-gray-darker {
  .btn-default {
    .button-variant(
      #fff; transparent; #fff
    );

    &:hover {
      background-color: #fff;
      border-color: #fff;
      color: @gray-darker;
    }
  }

  .panel {
    .btn-default {
      .button-variant(
        @gray-darker; transparent; @gray-darker
      );
  
      &:hover {
        background-color: @gray-darker;
        border-color: @gray-darker;
        color: #fff;
      }
    }
  }
}

.btn-secondary {
  .button-variant(
    @btn-secondary-color; @btn-secondary-bg; @btn-secondary-border
  );
}

/*-- swiper --*/
.swiper-wrapper {
  align-items: center;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.swiper-pagination-bullet-active {
  background-color: @brand-primary !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: @gray-darker;
  height: 50px !important;
  width: 50px !important;
  margin-top: -50px !important;
  border-radius: 60px;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  outline: none;

  &:after {
    display: none;
  }

  &:before {
    content:'';
    width: 15px;
    height: 15px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
  }
}

.swiper-button-next {
  &:before {
    position: relative;
    transform: rotate(45deg);
    right: 2px;
  }
}

.swiper-button-prev {
  &:before {
    position: relative;
    transform: rotate(-135deg);
    left: 2px;
  }
}

/*-- panels --*/
.panel { border-width: 0; overflow: hidden; }
.panel-title { font-size: @font-size-base; letter-spacing: -1px; }
.panel-heading {
  font-family: proxima-nova, sans-serif;
  padding: 15px 20px 10px; 

  &:focus {
    outline: none;
  }
}
.accordion .panel-heading { padding: 12px 17px; }
.panel-body { padding-bottom: 0; }
.panel-secondary {
  .panel-variant(
    @panel-secondary-border; @panel-secondary-text; @panel-secondary-heading-bg;
      @panel-secondary-border
  );
}

/*-- wells --*/
.well {
  background-color: rgba(0,0,0,.08);
  box-shadow: none;
  border: none;
  padding: @line-height-computed;
  margin-bottom: @line-height-computed;

  & > *:last-child {
    margin-bottom: 0;
  }

  &.well-sm {
    padding: ceil(@line-height-computed * .8);
  }

  &.well-lg {
    padding: ceil(@line-height-computed * 1.5);
  }
}

// 3. Theme Styling
// -------------------------

.display-inline { display: inline; }
.display-inline-block { display: inline-block; }
.display-block { display: block; }

/*-- flex floating --*/
.floating {
  display: flex;
  align-items: center;
}

.floating-item {
  // max-width: 50%;
}

.floating-item--top {
  align-self: flex-start;
}

.floating-item--bottom {
  align-self: flex-end;
}

/*-- navigation --*/
#navigation {
  top: 0;
  transition: all .15s ease-in-out 0s;

  &.scrollUp {
    top: -105px;
    transition: all .15s ease-in-out 0s;
  }
}

#mobilenav {
  right: -100%;
  left: 100%;
  transition-property: left, right;
  transition-duration: .2s;
  transition-delay: 0;
  transition-timing-function: ease-in-out;

  &.open {
    left: 0;
    right: 0;
  }
}

.shadowed, .panel {
  box-shadow: 0 2px 0 rgba(0,0,0,.05), 0 0 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.05s ease-in-out;
}
.shadowed-lg {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
}

.bg-primary,
.bg-secondary,
.bg-gray-light,
.bg-gray,
.bg-gray-dark,
.bg-gray-darker {
  .shadowed {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.05s ease-in-out;
  }
  .shadowed-lg {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  }
}

.rounded {
  border-radius: @border-radius-base;
}
.rounded-lg {
  border-radius: @border-radius-base*2;
}
.circular {
  border-radius: 10000px;
}
.overflow-hidden {
  overflow: hidden;
}
.text-decoration-none {
  text-decoration: none !important;
}

section {
  position: relative;
}

.full-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gradient-shim {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }
}

.background-cover {
  background-size: cover;
  background-position: center;
}

.background-fixed {
  @media only screen and (min-width: @screen-md) {
    background-attachment: fixed;
  }
}

.bring-forward {
  position: relative;
  z-index: 1;
}

/*-- scripture reference tagger --*/
#nbtDiv {
  z-index: 10;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  background: #fff;
  border-radius: 6px;
  overflow: auto;
  box-shadow: 0 2px 0 rgba(0,0,0,.05), 0 0 15px rgba(0, 0, 0, 0.1);
}

#nbtHeader {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: -.5px;
  padding: 10px 15px;
  color: #fff;
  background-color: @gray-darker;
}

#nbtContent {
  padding: 20px;
}

#nbtCloseImage, #nbtPoweredBy {
  display: none;
}

#nbtReadMoreLink {
  font-size: 18px;
}

#verseTarget a:first-of-type {
  text-decoration: none;
}

footer a:not(.btn) {
  text-decoration: none;
}

// 4. Responsive Overrides
// -------------------------

// default styling should be for phones 767px or less

// Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {
}

// Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {
  h1, .h1 { font-size: @font-size-h1 * 1.2; }
}

// Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {
}

@media only screen and (max-width: @screen-xs) {
  // .btn {
  //   display: block;
  // }

  .btn + .btn {
    margin-top: @padding-base-vertical;
  }
}

@import "_css-overrides.less";