body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    letter-spacing: -1.5px;
}

h5, h6 {
    letter-spacing: -1px;
}

.btn {
    font-weight: 900;
    letter-spacing: -.5px;
}